<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_InformationService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_InformationService">
                    <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport"
                        requireDerivedKeys="true" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                        <localClientSettings detectReplays="false" />
                        <localServiceSettings detectReplays="false" />
                    </security>
                    <binaryMessageEncoding />
                    <sslStreamSecurity />
                    <namedPipeTransport />
                </binding>
                <binding name="CustomBinding_InformationService1">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
                    <!--    <wsdl:binding name='CustomBinding_InformationService1'>    -->
                    <!--        <gzip:GZipEncoding xmlns:gzip="http://schemas.microsoft.com/ws/06/2004/mspolicy/netgzip1">..</gzip:GZipEncoding>    -->
                    <textMessageEncoding />
                    <windowsStreamSecurity />
                    <tcpTransport />
                </binding>
                <binding name="CustomBinding_InformationService2">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://tempuri.org/':    -->
                    <!--    <wsdl:binding name='CustomBinding_InformationService2'>    -->
                    <!--        <gzip:GZipEncoding xmlns:gzip="http://schemas.microsoft.com/ws/06/2004/mspolicy/netgzip1">..</gzip:GZipEncoding>    -->
                    <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
                        requireDerivedKeys="false" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        canRenewSecurityContextToken="true">
                        <secureConversationBootstrap defaultAlgorithmSuite="Default"
                            authenticationMode="UserNameOverTransport" requireDerivedKeys="true"
                            includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
                            <localClientSettings detectReplays="false" />
                            <localServiceSettings detectReplays="false" />
                        </secureConversationBootstrap>
                        <localClientSettings detectReplays="false" />
                        <localServiceSettings detectReplays="false" />
                    </security>
                    <textMessageEncoding />
                    <sslStreamSecurity />
                    <tcpTransport />
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_InformationService">
                    <security mode="TransportWithMessageCredential">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_InformationService1" />
                <binding name="NetTcpBinding_InformationService2">
                    <security>
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IStreamInformationService" transferMode="Streamed">
                    <security>
                        <transport clientCredentialType="Certificate" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/v3/Orion/ssl"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_InformationService"
                contract="SWIS.InformationService" name="NetTcpBinding_InformationService">
                <identity>
                    <dns value="BFS-YYANG22.ucmerced.edu" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/SolarWinds/InformationService/v3/Orion"
                binding="customBinding" bindingConfiguration="CustomBinding_InformationService"
                contract="SWIS.InformationService" name="CustomBinding_InformationService" />
            <endpoint address="https://bfs-yyang22.ucmerced.edu:17778/SolarWinds/InformationService/v3/OrionBasic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_InformationService"
                contract="SWIS.InformationService" name="BasicHttpBinding_InformationService" />
            <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/v3/Orion/ad"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_InformationService1"
                contract="SWIS.InformationService" name="NetTcpBinding_InformationService1">
                <identity>
                    <servicePrincipalName value="host/BFS-YYANG22.ucmerced.edu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/v3/Orion/certificate"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_InformationService2"
                contract="SWIS.InformationService" name="NetTcpBinding_InformationService2">
                <identity>
                    <dns value="BFS-YYANG22.ucmerced.edu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/v3/Orion/Streamed/Certificate"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IStreamInformationService"
                contract="SWIS.IStreamInformationService" name="NetTcpBinding_IStreamInformationService">
                <identity>
                    <dns value="BFS-YYANG22.ucmerced.edu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/v3/Orion/ad/compressed"
                binding="customBinding" bindingConfiguration="CustomBinding_InformationService1"
                contract="SWIS.InformationService" name="CustomBinding_InformationService1">
                <identity>
                    <servicePrincipalName value="host/BFS-YYANG22.ucmerced.edu" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:17777/SolarWinds/InformationService/v3/Orion/ssl/compressed"
                binding="customBinding" bindingConfiguration="CustomBinding_InformationService2"
                contract="SWIS.InformationService" name="CustomBinding_InformationService2">
                <identity>
                    <dns value="BFS-YYANG22.ucmerced.edu" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>